@import "tailwindcss";

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #f8f8fc;

  background-image:
    linear-gradient(#ececf6 1px, transparent 1px),
    linear-gradient(90deg, #ececf6 1px, transparent 1px);

  background-size: 32px 32px;
}

* {
  box-sizing: border-box;
}